<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<!-- mdjfs: Declaration of the servlets here !
	How go to the servlet? with the url:
	localhost:(port)/TeamBackendJava/(url-pattern) -->
<web-app>
	<servlet>
		<servlet-name>Hello World !</servlet-name>
		<servlet-class>
		communication.Servlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>Hello World !</servlet-name>
	<url-pattern>/hello/</url-pattern>
	</servlet-mapping>
</web-app>